@import "../root.scss";

#about {
  @include block_container;

  .about-content {
    margin-bottom: 1rem;
  }
}

#info {
  details {
    border: solid black 1px;
    padding: 0.7rem 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    summary {
      cursor: pointer;
    }

    ul {
      margin-top: 1rem;
      list-style-position: inside;
      li {
        text-decoration: none;
      }
    }
  }
}
