@import "../root.scss";

.accordion {
  padding: 1.5rem 0;
  cursor: grab;

  &-title {
    color: $color--gray;

    &:first-of-type {
      margin-bottom: 0.6rem;
    }
    &:last-of-type {
      margin-top: 1.2rem;
    }
  }

  &-item {
    font-weight: 400;
    margin-left: 1rem;

    &:not(:last-of-type) {
      margin-bottom: 0.6rem;
    }
  }
}

.builtTitle {
  &-const {
    color: $color--red;
  }
  &-title {
    font-weight: 700;
    color: $color--green;
  }
  &-ending {
    color: $color--gray;
  }
}
