@import "../root.scss";

#contact {
  @include block_container;

  h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  #contact-container {
    @include row;
    height: 50vh;
    border: solid $color--base-black 2px;
    justify-content: space-between;
    border-radius: 0.3rem;
    padding: 3rem;

    @include sm {
      @include column;
      height: fit-content;
    }

    #contact-badges {
      @include column;

      @include sm {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
      }
      .contact-badge {
        @include row;
        align-items: center;
        text-decoration: none;
        width: 100%;

        @include sm {
          width: fit-content;
          margin-bottom: 2rem;
        }

        p {
          font-size: 2rem;
          @include sm {
            width: 0;
            display: none;
          }
        }

        svg {
          font-size: 2rem;
          margin-right: 1rem;
        }

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    form {
      height: 100%;
      justify-content: center;

      @include sm {
        width: 100%;
      }

      textarea {
        height: 100%;
      }

      input[type="submit"] {
        background-color: white;
        font-weight: 500;
        color: $color--base-black;

        &:hover {
          transition: all 200ms ease-in-out;
          background-color: $color--base-black;
          color: white;
        }
      }
      input,
      textarea {
        font-weight: 300;
        border: solid $color--base-black 2px;
        border-radius: 0.3rem;
        font-size: 1.25rem;
        padding: 0.7rem 0.5rem;
      }

      :not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    #contact-badges,
    form {
      @include column;
      width: 50%;

      @include sm {
        width: 100%;
      }
    }
  }
}
