@import "../root.scss";

#work {
  @include block_container;
  min-height: 100vh;

  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
