@import "../../root.scss";

.side-post {
  grid-column: 7 / 13;
  display: grid;
  grid-template-columns: 20% 80%;
  border: solid white 1px;
  align-items: center;

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;

    h3 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 1rem;
    }
    p {
      margin-left: 1rem;
    }
  }

  span {
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    display: block;
    height: fit-content;
    border-right: solid black 6px;
  }
}
