@import "root";

#about {
  background-color: $olive-slate;
  height: 100%;

  padding: 5rem 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 10vh);

  .fadeIm {
    grid-column: 1 / 6;
    grid-row: 1 / 5;
  }

  .about-full {
    grid-column: 5 /12;
    grid-row: 1 / 5;
    color: $dusty-yellow;
    font-size: 20rem;
  }

  .about-stack {
    line-height: 0.7;
    margin-top: -4rem;
    font-size: 25rem;
    color: $mockup-gray;
    grid-column: 6 /12;
    grid-row: 3 / 8;
    -webkit-text-stroke: $dusty-yellow 2px;
  }

  #calendar {
    height: 100%;
    grid-column: 1 / 13;
    grid-row: 14 / 18;

    background-color: black;
  }

  .software-engineer {
    line-height: 1;
    text-align: center;
    font-size: 13.38rem;
    grid-column: 1 / 13;
    grid-row: 6 / 8;
    // margin-top: -5rem;
    color: $soft-teal;
    -webkit-text-stroke: $light-mockup-gray 1px;
  }

  .paragraphs-container {
    grid-column: 1 / 13;
    grid-row: 9 / 13;

    &:first-of-type {
      // padding-right: 2rem;
      grid-column: 1 / 7;
    }

    &:last-of-type {
      // padding-left: 2rem;
      grid-column: 7 / 13;
    }
    p {
      -webkit-text-stroke: $darker-mockup-gray 1px;
      // color: $dark-mockup-gray;
      // color: rgb(179, 154, 102);
      color: rgb(160, 160, 160);
      font-weight: 400;
      line-height: 1.5;

      max-width: 29ch;
      font-size: 2.5rem;
      margin-top: 2rem;

      // grid-row: 9 / 13;
    }
  }
}
