.calendar {
    width: 600px;
    height: 600px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2px;

    .block {
        display: grid;
        place-items: center;
        text-align: center;
        

        &:hover {
            border: solid rgb(133, 214, 224) 1px;

            
            .overlay {
                display: block;
            }
            
        }
        
        .overlay {
            display: none;
        }
        
        width: 100%;
        height: 100%;
        
        background-color: rgba(0,0,0,.5)
        rgba(110, 240, 179, 0.931)
    }
}
