@import 'root';

header {
    background-color: $pomegranate-chocolate;
    height: 100vh;
    overflow: hidden;
}


h1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: $base-font-size;
    display: flex;
    flex-direction: column;
}

.block {
    padding: 2vw 5vw;
}

span {
    display: block;
    position: absolute;
    line-height: 0;

    &#hi {
        top: 18rem;
        font-size: 28rem;
        color: $darker-mockup-gray;

    }

    &#im {
        z-index: 5;
        top: 45%;
        font-size: 15rem;
        -webkit-text-stroke: $light-mockup-gray 4px ;
        color: transparent;
    }
    
    &#sam {
        font-size: 40rem;
        color: $bright-forest;
        bottom: 18rem;
    }
}

