* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// variables

$base-font-size: 24px;
$font-family: "Roboto", sans-serif;

$pomegranate-chocolate: #614c4c;
$darker-mockup-gray: #626262;
$bright-forest: #4a704e;
$dark-mockup-gray: #848484;
$sunshine: #e2e548;
$olive-slate: #48534f;
$light-mockup-gray: #d8d8d8;
$humis: #515348;
$soft-teal: #53bdaa;
$mockup-gray: #c4c4c4;
$green-slate: #485253;
$old-school-bus: #bba800;
$plum: #4e4853;
$dusty-yellow: #ad9e16;
