* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// variables

$base-font-size: 24px;
$font-family: 'Roboto', sans-serif;

$pomegranate-chocolate: #614C4C;
$darker-mockup-gray: #626262;
$bright-forest: #4A704E;
$dark-mockup-gray: #848484;
$sunshine: #E2E548;
$olive-slate: #48534F;
$light-mockup-gray: #D8D8D8;
$humis: #515348;
$soft-teal: #53BDAA;
$mockup-gray: #C4C4C4;
$green-slate: #485253;
$old-school-bus: #BBA800;
$plum: #4E4853;
