.header {
    justify-content: space-around;
    background-image: url('../../assets/PROF.JPG');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom left;



    .pic {
        position: relative;
        width: 200%;
        z-index: -10;
        left: -50%;
        bottom: -50px;
    }

    &-row {
        justify-content: space-between;
    }

    &-right {
        width: 60%;
        justify-content: center;

        h1 {
            font-weight: 500;
            font-size: 7rem;
        }
        h2 {
            font-weight: 400;
            font-size: 2.5rem;
        }

    }
    &-left {
        width: 40%;
    }

}