.work {
    padding-top: 15rem;

    h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    &-row {
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;

        .work-card {
            display: grid;
            place-items: center;


            border-radius: 2rem;
            width: 20vw;
            height: 20vw;
            background-color: grey;
            margin: 2rem 2rem;
        }
    }
}